---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Konrad Kubczyk">
  <main>
    <div class="flex flex-col gap-20 2xl:gap-36">
      <div
        id="hero"
        style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.jpg'); background-size: cover;"
      >
        <div
          class="flex flex-col h-100 justify-between bg-neutral-900/90 bg-gradient-to-t from-neutral-900 to-transparent to-20%"
          style="min-height: 80vh;"
        >
          <section class="container mx-auto grow flex items-center">
            <div class="px-5 flex flex-col gap-5">
              <div
                class="flex flex-col gap-5 py-10 sm:w-2/3 lg:w-5/6 xl:w-3/5 text-center mx-auto mt-40 mb-20"
              >
                <h1 class="text-5xl md:text-6xl text-white">Konrad Kubczyk</h1>
                <p class="text-white/70">
                  I am a creative, open-minded and motivated person. My
                  experience in web and software development is complemented by
                  an eye for design and eagerness to innovate while solving
                  problems.
                </p>
                <div class="flex gap-5 mx-auto">
                  <a
                    href="#more"
                    class="button uppercase font-semibold tracking-wide text-sm bg-neutral-100/70 px-5 py-3 rounded border border-white/25 transition text-dark hover:bg-white/90"
                  >
                    More
                  </a>
                  <a
                    href="#contact"
                    class="button uppercase font-semibold tracking-wide text-sm bg-neutral-600/25 px-5 py-3 rounded border border-white/25 transition text-white hover:bg-neutral-600/50"
                  >
                    Contact
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section
            id="wiecej"
            class="flex gap-5 container mx-auto flex-wrap px-5"
          >
            <div
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 bg-neutral-800/10"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">
                Web development
              </h2>
              <p class="text-white/70">
                Websites and web apps are my main area of expertise. During the
                last few years I have been working on various commercial
                projects, most of them built with WordPress. I am also familiar
                with other technologies and frameworks, such as Express or
                Astro.
              </p>
            </div>
            <div
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 bg-neutral-800/10"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">
                UI/UX design
              </h2>
              <p class="text-white/70">
                Design is an important part of every project. I am familiar with
                the principles of UI/UX design, and I am able to create a design
                that is both functional and aesthetic.
              </p>
            </div>
            <div
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 bg-neutral-800/10"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">Software</h2>
              <p class="text-white/70">
                Solving problems with software is what I enjoy doing. The
                languages which I use the most are JavaScript, Python and Java,
                but I am always eager to learn new ones.
              </p>
            </div>
          </section>
        </div>
      </div>
      <section
        class="container mx-auto flex flex-col xl:flex-row px-5 items-center xl:gap-20"
      >
        <div>
          <h2
            class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
          >
            My main activity
          </h2>
          <span class="text-4xl font-semibold text-neutral-100">
            Building web solutions
          </span>
          <p class="text-white/70 mt-5">
            I use my knowledge of programming, web technologies and UI/UX design
            to create, build and maintain products that are practical, yet
            esthetically pleasing. Security, openness and people-first approach
            are what I value the most.
          </p>
        </div>
        <div class="w-full text-right select-none">
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/10 mb-1"
          >
            Web
          </span>
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/20 mb-1"
          >
            Design
          </span>
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/30 mb-1"
          >
            Development
          </span>
        </div>
      </section>
      <section class="container mx-auto px-5">
        <div
          class="rounded-lg"
          style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.jpg'); background-size: cover; background-position: bottom;"
        >
          <div class="p-7 md:py-20 md:px-40 rounded-lg bg-neutral-900/50">
            <div
              class="bg-neutral-900 max-w-2xl mx-auto p-10 rounded-md text-center border border-zinc-600/50"
            >
              <h2
                class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
              >
                My professional background
              </h2>
              <span class="text-4xl font-semibold text-neutral-100">
                Work experience
              </span>
              <p class="text-white/70 mt-5 max-w-sm mx-auto">
                Since 2021 I have been working as a web developer, building
                commercial websites using WordPress.
              </p>
              <div class="relative mt-5 flex items-center gap-5">
                <div
                  class="absolute w-1/2 h-px bg-gradient-to-r from-transparent to-zinc-600"
                >
                </div>
                <p
                  class="relative px-5 mx-auto text-center text-white/70 whitespace-nowrap bg-neutral-900 uppercase tracking-widest text-sm font-semibold"
                >
                  2021 &dash; Present
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container mx-auto px-5">
        <div class="flex flex-col xl:flex-row gap-5">
          <div
            class="bg-neutral-800/50 border border-zinc-600/50 rounded-md p-5 xl:w-1/3"
          >
            <h2
              class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
            >
              My skills
            </h2>
            <span class="text-4xl font-semibold text-neutral-100">
              Abilities
            </span>
            <p class="text-white/70 mt-5">
              I am familiar with popular programming languages and widely used
              software. I learn quickly, and I am eager to discover new solutions
              which can improve my efficiency or expand possibilities.
            </p>
          </div>
          <div class="flex gap-5 flex-wrap sm:px-0 justify-between">
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Web technologies
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Node.js</li>
                  <li>Express</li>
                  <li>WordPress</li>
                </ul>
                <ul class="list-inside list-disc text-white/70">
                  <li>Bootstrap</li>
                  <li>Tailwind CSS</li>
                  <li>Svelte</li>
                  <li>Astro</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Programming
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>Python</li>
                  <li>Java</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Languages
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>Polish (native)</li>
                  <li>English (C1)</li>
                  <li>French (A1)</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Software and utilities
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>Visual Studio Code</li>
                  <li>Git</li>
                  <li>Microsoft Office</li>
                  <li>LibreOffice</li>
                </ul>
                <ul class="list-inside list-disc text-white/70">
                  <li>Docker</li>
                  <li>Linux</li>
                  <li>Penpot</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Databases
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>SQL</li>
                  <li>Microsoft SQL Server</li>
                  <li>MySQL</li>
                  <li>MongoDB</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container mx-auto px-5">
        <div
          class="random-string bg-gradient-to-b from-neutral-100/25 to-neutral-900 to-90% bg-clip-text text-transparent select-none font-mono h-64"
          style="overflow-wrap: anywhere; margin-bottom: -2.75rem"
          data-length="5000"
          aria-hidden="true"
        >
        </div>
        <script>
          function generateRandomString(length) {
            const characters =
              "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            let result = "";
            for (let i = 0; i < length; i++) {
              const randomIndex = Math.floor(Math.random() * characters.length);
              const randomCharacter = characters.charAt(randomIndex);
              result += characters.charAt(
                Math.floor(Math.random() * characters.length)
              );
            }
            return result;
          }
          function refreshRandomStrings() {
            document.querySelectorAll(".random-string").forEach((element) => {
              element.innerText = generateRandomString(
                parseInt(element.dataset.length)
              );
            });
          }
          refreshRandomStrings();
          document.addEventListener("scroll", refreshRandomStrings);
        </script>
        <div
          id="portfolio"
          class="flex gap-5 flex-col xl:flex-row justify-between"
        >
          <div class="flex flex-col justify-end">
            <h2
              class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
            >
              My projects
            </h2>
            <span class="text-4xl font-semibold text-neutral-100">
              Portfolio
            </span>
          </div>
          <div
            id="filters"
            class="flex gap-2 flex-wrap xl:flex-wrap-reverse xl:justify-end xl:items-start"
          >
          </div>
        </div>
        <div id="projects" class="mt-5 flex gap-5 flex-wrap">
          <a
            class="project flex-1 flex rounded-lg border border-zinc-600/50 p-5 flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25 justify-between"
            href="https://gitlab.com/konradkubczyk/kiwi"
            target="_blank"
          >
            <div>
              <h3 class="text-2xl font-semibold text-neutral-100">Kiwi</h3>
              <p class="text-white/70 mt-3">
                Web service for subscribing to a university class schedule using
                preferred calendar app. It acts as a middleman, translating a
                requested timetable into a widely supported ICS format.
              </p>
            </div>
            <div
              class="tags flex text-xs text-neutral-100 uppercase gap-2 tracking-wider border-t border-zinc-600/50 pt-5 mt-1"
            >
              <span class="border border-white/10 px-2 py-1 rounded"
                >JavaScript</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Node.js</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Express</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Bootstrap</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Docker</span
              >
            </div>
          </a>
          <a
            class="project flex-1 flex rounded-lg border border-zinc-600/50 p-5 flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25 justify-between"
            href="https://gitlab.com/konradkubczyk/netlico"
            target="_blank"
          >
            <div>
              <h3 class="text-2xl font-semibold text-neutral-100">Netlico</h3>
              <p class="text-white/70 mt-3">
                Microsite builder, which provides a simple interface, allowing a
                user to add custom text content, pick a theme and publish a
                website under a custom subdomain.
              </p>
            </div>
            <div
              class="tags flex text-xs text-neutral-100 uppercase gap-2 tracking-wider border-t border-zinc-600/50 pt-5 mt-1"
            >
              <span class="border border-white/10 px-2 py-1 rounded"
                >JavaScript</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Node.js</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Express</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Bootstrap</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >MongoDB</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Docker</span
              >
            </div>
          </a>
          <a
            class="project flex-1 flex rounded-lg border border-zinc-600/50 p-5 flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25 justify-between"
            href="https://gitlab.com/konradkubczyk/CeneoWebScraper"
            target="_blank"
          >
            <div>
              <h3 class="text-2xl font-semibold text-neutral-100">
                CeneoWebScraper
              </h3>
              <p class="text-white/70 mt-3">
                Web app for saving and analyzing product reviews from a price
                comparison website.
              </p>
            </div>
            <div
              class="tags flex text-xs text-neutral-100 uppercase gap-2 tracking-wider border-t border-zinc-600/50 pt-5 mt-1"
            >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Python</span
              >
              <span class="border border-white/10 px-2 py-1 rounded">Flask</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Bootstrap</span
              >
              <span class="border border-white/10 px-2 py-1 rounded">MySQL</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Docker</span
              >
            </div>
          </a>
          <a
            class="project flex-1 flex rounded-lg border border-zinc-600/50 p-5 flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25 justify-between"
            href="https://gitlab.com/konradkubczyk/com-konradkubczyk"
            target="_blank"
          >
            <div>
              <h3 class="text-2xl font-semibold text-neutral-100">
                konradkubczyk.com
              </h3>
              <p class="text-white/70 mt-3">The currently viewed website.</p>
            </div>
            <div
              class="tags flex text-xs text-neutral-100 uppercase gap-2 tracking-wider border-t border-zinc-600/50 pt-5 mt-1"
            >
              <span class="border border-white/10 px-2 py-1 rounded">Astro</span
              >
              <span class="border border-white/10 px-2 py-1 rounded"
                >Tailwind CSS</span
              >
            </div>
          </a>
          <p
            id="no-projects-for-criteria-alert"
            class="hidden text-white/70 mt-5"
          >
            No projects match the selected criteria. You can reset the filters
            by
            <button class="reset-filters underline">clicking here</button>.
          </p>
        </div>
        <script>
          const projects = document.querySelectorAll("#projects > .project");
          projects.forEach((project) => {
            project.tags = project.querySelector(".tags").innerText.split("\n");
          });

          let availableFilters = [];

          projects.forEach((project) => {
            const projectTags = project
              .querySelector(".tags")
              .innerText.split("\n");
            projectTags.forEach((tag) => {
              if (!availableFilters.includes(tag)) {
                availableFilters.push(tag);
              }
            });
          });

          const filtersElement = document.querySelector("#filters");

          availableFilters.forEach((filter) => {
            const filterNameSimplified = filter
              .replace(" ", "")
              .replace(".", "")
              .toLowerCase();

            const filterInputElement = document.createElement("input");
            filterInputElement.type = "checkbox";
            filterInputElement.id = `project-filter-input-${filterNameSimplified}`;
            filterInputElement.classList.add("hidden");
            filtersElement.appendChild(filterInputElement);

            const filterLabelElement = document.createElement("label");

            filterLabelElement.htmlFor = `project-filter-${filterNameSimplified}`;
            filterLabelElement.id = `project-filter-label-${filterNameSimplified}`;
            filterLabelElement.tabIndex = 0;
            filterLabelElement.classList.add(
              "project-filter",
              "flex",
              "items-center",
              "text-center",
              "uppercase",
              "font-semibold",
              "tracking-wide",
              "text-sm",
              "bg-neutral-800/25",
              "px-3",
              "py-2",
              "rounded-full",
              "border",
              "border-zinc-600/50",
              "transition",
              "text-neutral-100/75",
              "hover:bg-neutral-700/25",
              "cursor-pointer",
              "select-none",
              "whitespace-nowrap"
            );
            filterLabelElement.innerText = filter;
            filtersElement.appendChild(filterLabelElement);
          });

          let activeFilters = [];

          function filterProjects() {
            if (activeFilters.length === 0) {
              projects.forEach((project) => {
                project.classList.remove("hidden");
              });
              document
                .querySelector("#no-projects-for-criteria-alert")
                .classList.add("hidden");
              return;
            }

            let hiddenProjectsCount = 0;

            projects.forEach((project) => {
              if (
                activeFilters.every((filter) => project.tags.includes(filter))
              ) {
                project.classList.remove("hidden");
              } else {
                project.classList.add("hidden");
                hiddenProjectsCount++;
              }
            });

            console.log(hiddenProjectsCount, projects.length);

            if (hiddenProjectsCount === projects.length) {
              document
                .querySelector("#no-projects-for-criteria-alert")
                .classList.remove("hidden");
            } else {
              document
                .querySelector("#no-projects-for-criteria-alert")
                .classList.add("hidden");
            }
          }

          function processFiltersChange(event) {
            let currentFilter = event.target.innerText;
            if (activeFilters.includes(currentFilter)) {
              activeFilters = activeFilters.filter(
                (filter) => filter !== currentFilter
              );
              event.target.style.background = "";
              event.target.style.borderColor = "";
              event.target.style.color = "";
            } else {
              activeFilters.push(currentFilter);
              event.target.style.background = "white";
              event.target.style.borderColor = "white";
              event.target.style.color = "black";
            }

            filterProjects();
          }

          document.querySelectorAll(".project-filter").forEach((element) => {
            element.addEventListener("click", processFiltersChange);
          });

          const SPACEBAR_KEYCODE = 32;

          function toggleFilter(event) {
            if (event.keyCode !== SPACEBAR_KEYCODE) {
              return;
            }
            event.target.click();
            event.preventDefault();
          }

          document.querySelectorAll(".project-filter").forEach((element) => {
            element.addEventListener("keydown", toggleFilter);
          });

          function resetFilters() {
            document.querySelectorAll(".project-filter").forEach((element) => {
              element.style.background = "";
              element.style.borderColor = "";
              element.style.color = "";
            });
            activeFilters = [];
            filterProjects();
          }

          document.querySelectorAll(".reset-filters").forEach((element) => {
            element.addEventListener("click", resetFilters);
          });
        </script>
      </section>
      <div style="height: 100vh;"></div>
    </div>
  </main>
</Layout>
