---
/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

import Layout from "../layouts/Layout.astro";
import SkillsCard from "../components/SkillsCard.astro";
import ActivityField from "../components/ActivityField.astro";
import PortfolioDecorator from "../components/PortfolioDecorator.astro";
import Projects from "../components/Projects.svelte";
---

<Layout>
    <main class="flex flex-col gap-20 xl:gap-24 2xl:gap-36">
        <div
                id="hero"
                style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.webp'); background-size: cover"
        >
            <div
                    class="flex flex-col h-100 justify-between bg-neutral-900/80 bg-gradient-to-t from-neutral-900 to-transparent to-20%"
                    style="min-height: 80vh;"
            >
                <section class="container mx-auto grow flex items-center">
                    <div class="px-5 flex flex-col gap-5 mx-auto">
                        <div
                                class="flex flex-col gap-5 py-10 lg:w-5/6 xl:w-3/5 sm:text-center mx-auto mt-36 sm:mt-40 mb-20"
                        >
                            <h1 class="text-4xl sm:text-5xl md:text-6xl text-white">Konrad Kubczyk</h1>
                            <p class="text-white/70">
                                I am a creative, open-minded and motivated person. My experience
                                in web and software development is complemented by an eye for
                                design and eagerness to innovate while solving problems.
                            </p>
                            <div class="flex gap-5 sm:mx-auto">
                                <a
                                        href="#more"
                                        class="uppercase font-semibold tracking-wide text-sm bg-zinc-100/70 px-5 py-3 rounded border border-zinc-100/25 hover:border-zinc-100 transition text-dark hover:bg-zinc-100/90"
                                >
                                    More
                                </a>
                                <a
                                        href="#contact"
                                        class="uppercase font-semibold tracking-wide text-sm bg-neutral-600/25 px-5 py-3 rounded border border-zinc-600/50 hover:border-zinc-500 transition text-white hover:bg-neutral-600/50"
                                >
                                    Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                        id="more"
                        class="flex gap-5 container mx-auto flex-col sm:flex-row flex-wrap px-5"
                >
                    <ActivityField
                            title="Software"
                            description="Solving problems with software is what I enjoy doing. The languages which I use the most are JavaScript, Python and Java, but I am always eager to learn new ones."
                    />
                    <ActivityField
                            title="Web development"
                            description="This is my main area of expertise. I have been working on various projects built with WordPress during the last few years. I am also familiar with other technologies and frameworks."
                    />
                    <ActivityField
                            title="Design"
                            description=" The role of design is crucial in every project. Through my experience, I have learned how to create a product that is both functional and esthetically pleasing."
                    />
                </section>
            </div>
        </div>
        <section
                class="container mx-auto flex flex-col xl:flex-row px-5 items-center xl:gap-20"
        >
            <div>
                <div class="flex flex-col-reverse">
                    <h2 class="text-3xl sm:text-4xl text-neutral-100">
                        Building web solutions
                    </h2>
                    <span
                            class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-2"
                    >
            My main activity
          </span>
                </div>
                <p class="text-white/70 mt-5">
                    I use my knowledge of programming, web technologies and UI/UX design
                    to create, build and maintain products that are practical, yet
                    esthetically pleasing. Security, openness and people-first approach
                    are what I value the most.
                </p>
            </div>
            <div class="w-full text-right select-none opacity-80">
        <span
                class="text-5xl sm:text-6xl xl:text-7xl 2xl:text-9xl lowercase tracking-wide text-neutral-100/10 mb-1"
                aria-hidden="true"
                role="none"
        >
          Web
        </span>
                <span
                        class="text-5xl sm:text-6xl xl:text-7xl 2xl:text-9xl lowercase tracking-wide text-neutral-100/20 mb-1"
                        aria-hidden="true"
                        role="none"
                >
          Design
        </span>
                <span
                        class="text-5xl sm:text-6xl xl:text-7xl 2xl:text-9xl lowercase tracking-wide text-neutral-100/30 mb-1"
                        aria-hidden="true"
                        role="none"
                >
          Development
        </span>
            </div>
        </section>
        <section id="experience" class="container mx-auto px-5">
            <div
                    class="rounded-lg bg-bottom"
                    style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.webp'); background-size: cover;"
            >
                <div class="p-5 sm:p-10 lg:py-20 lg:px-40 rounded-lg bg-neutral-900/60">
                    <div
                            class="bg-neutral-900 max-w-2xl mx-auto p-5 sm:p-10 rounded-md sm:text-center border border-zinc-600/50"
                    >
                        <div class="flex flex-col-reverse">
                            <h2 class="text-3xl sm:text-4xl text-neutral-100">
                                Work experience
                            </h2>
                            <span
                                    class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-2"
                            >
                My professional background
              </span>
                        </div>
                        <p class="text-white/70 mt-5 sm:max-w-sm mx-auto">
                            Since 2021 I have been working as a web developer, building
                            commercial websites using WordPress.
                        </p>
                        <div class="relative mt-5 flex items-center gap-5">
                            <div
                                    class="absolute w-full sm:w-1/2 h-px bg-gradient-to-r from-transparent to-zinc-600"
                            >
                            </div>
                            <p
                                    class="relative pl-5 sm:px-5 ml-auto sm:mx-auto text-center text-white/70 whitespace-nowrap bg-neutral-900 uppercase tracking-widest text-sm font-semibold"
                            >
                                2021 &dash; Present
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills" class="container mx-auto px-5">
            <div class="flex flex-col xl:flex-row gap-5">
                <div
                        class="bg-neutral-800/50 border border-zinc-600/50 rounded-md p-5 xl:w-1/3"
                >
                    <div class="flex flex-col-reverse">
                        <h2 class="text-3xl sm:text-4xl text-neutral-100">
                            Abilities
                        </h2>
                        <span
                                class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-2"
                        >
              My skills
            </span>
                    </div>
                    <p class="text-white/70 mt-5">
                        I am familiar with popular programming languages and widely used
                        software. I learn quickly, and I am eager to discover new solutions
                        which can improve my efficiency or expand possibilities.
                    </p>
                </div>
                <div class="flex gap-5 flex-wrap sm:px-0 justify-between">
                    <SkillsCard
                            category="Web technologies"
                            skills={["HTML", "CSS", "Node.js", "Express", "WordPress", "Bootstrap", "Tailwind CSS", "Vue.js"]}
                    />
                    <SkillsCard
                            category="Programming"
                            skills={["JavaScript", "TypeScript", "Python"]}
                    />
                    <SkillsCard
                            category="Languages"
                            skills={["Polish (native)", "English (C1)", "French (A1)"]}
                    />
                    <SkillsCard
                            category="Software and utilities"
                            skills={["Visual Studio Code", "JetBrains WebStorm", "Docker", "Linux", "Git", "Ansible", "Bash"]}
                    />
                    <SkillsCard
                            category="Databases"
                            skills={["SQL", "Microsoft SQL Server", "MySQL"]}
                    />
                </div>
            </div>
        </section>
        <section class="container mx-auto px-5">
            <PortfolioDecorator/>
            <Projects
                    client:only="svelte"
                    projects={[
                        {
                            name: "Ox",
                            description: "The multiplayer Tic-Tac-Toe web game, which was built with Vue.js and styled using Tailwind CSS. It lets users challenge their friends to a real-time session. It uses Appwrite as a backend service.",
                            tags: ["TypeScript", "Vue.js", "Tailwind CSS", "Appwrite"],
                            repository: "https://gitlab.com/konradkubczyk/ox",
                            language: "EN",
                            live: "https://ox.kubczyk.com"
                        },
                        {
                            name: "Kiwi",
                            description: "The web service for subscribing to a university class schedule using the preferred calendar app. It acts as a middleman, translating a requested timetable into a widely supported ICS format.",
                            tags: ["JavaScript", "Node.js", "Express", "Bootstrap", "Docker"],
                            language: "EN",
                            repository: "https://gitlab.com/konradkubczyk/kiwi",
                            live: "https://kiwi.kubczyk.com"
                        },
                        {
                            name: "Netlico",
                            description: "The microsite builder, which provides a simple interface and allows a user to add custom text content, pick a theme and publish their website under a custom subdomain.",
                            tags: ["JavaScript", "Node.js", "Express", "Bootstrap", "MongoDB", "Docker"],
                            language: "EN",
                            repository: "https://gitlab.com/konradkubczyk/netlico"
                        },
                        {
                            name: "Flavorium",
                            description: "The recipe-sharing platform was made in collaboration with my colleagues. It lets users create accounts, publish and browse cooking recipes.",
                            tags: ["JavaScript", "Svelte", "Tailwind CSS", "Appwrite"],
                            language: "PL",
                            repository: "https://github.com/konradkubczyk/flavorium",
                            group: true
                        },
                        {
                            name: "PayMe",
                            description: "The mobile app for personal finance management, that allows users to save information about their transactions, grouping them into accounts. It can be handy for tracking payments made with cash.",
                            tags: ["Dart", "Flutter"],
                            language: "EN",
                            repository: "https://github.com/konradkubczyk/payme",
                            group: true
                        },
                        {
                            name: "CeneoWebScraper",
                            description: "The web app for saving and analyzing product reviews from the popular Polish price comparison website. Created as a university project, partly written during classes.",
                            tags: ["Python", "Flask", "Bootstrap", "MySQL", "Docker"],
                            language: "PL",
                            repository: "https://gitlab.com/konradkubczyk/CeneoWebScraper",
                        },
                        {
                            name: "konradkubczyk.com",
                            description: "The website you are currently viewing. It was built with a static site generator, Astro, visually enhanced using Tailwind CSS, and made more interactive by utilizing Svelte.",
                            tags: ["JavaScript", "Astro", "Svelte", "Tailwind CSS"],
                            language: "EN",
                            repository: "https://gitlab.com/konradkubczyk/konradkubczyk.com",
                            live: "https://konradkubczyk.com"
                        }
                    ]}/>
        </section>
        <section id="contact" class="container mx-auto px-5">
            <div
                    class="rounded-lg"
                    style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.webp'); background-size: cover;"
            >
                <div
                        class="bg-neutral-900/75 sm:text-center p-5 sm:p-10 xl:p-20 sm:text-lg"
                >
                    <div class="flex flex-col-reverse">
                        <h2 class="text-3xl sm:text-4xl text-neutral-100">
                            Contact me
                        </h2>
                        <span
                                class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-2"
                        >
              My details
            </span>
                    </div>
                    <div
                            class="mt-3 mb-4 xl:mt-5 xl:mb-6 h-px bg-gradient-to-r from-zinc-700 sm:from-transparent sm:via-zinc-700 to-transparent"
                    >
                    </div>
                    <div class="flex gap-5 lg:gap-7 sm:justify-center flex-wrap text-white/70 select-none">
                        <div class="flex">
                            <a
                                    class="scrambled-email-link flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-bl-md rounded-tl-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                    href="#"
                                    target="_blank"
                                    aria-label="Email"
                                    draggable="false"
                            >
                                <i class="bi bi-envelope-fill"></i>
                                <div
                                        class="scrambled-email"
                                        data-sequence="4253106"
                                        data-hq2Dn="."
                                        data-gzc7T="kubczyk"
                                        data-4fgK8=":"
                                        data-RjLx2="@"
                                        data-oGP2U="mailto"
                                        data-4t4KA="konrad"
                                        data-SxV5N="com"
                                >
                                </div>
                            </a>
                            <div class="w-px bg-zinc-700/75"></div>
                            <a
                                    class="flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-br-md rounded-tr-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                    href="/publickey.asc"
                                    target="_blank"
                                    draggable="false"
                            >
                                <i class="bi bi-key-fill rotate-45"></i>
                            </a>
                        </div>
                        <a
                                class="flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                href="https://gitlab.com/konradkubczyk"
                                target="_blank"
                                draggable="false"
                        >
                            <i class="bi bi-gitlab"></i>
                            GitLab
                        </a>
                        <a
                                class="flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                href="https://github.com/konradkubczyk"
                                target="_blank"
                                draggable="false"
                        >
                            <i class="bi bi-github"></i>
                            GitHub
                        </a>
                        <a
                                class="flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                href="https://mastodon.social/@konradkubczyk"
                                rel="me"
                                target="_blank"
                                draggable="false"
                        >
                            <i class="bi bi-mastodon"></i>
                            Mastodon
                        </a>
                        <a
                                class="flex gap-3 items-center bg-neutral-400/10 px-4 py-2 rounded-md hover:text-white hover:bg-neutral-400/20 hover:active:scale-95 transition"
                                href="https://www.linkedin.com/in/konradkubczyk/"
                                target="_blank"
                                draggable="false"
                        >
                            <i class="bi bi-linkedin"></i>
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
