---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Konrad Kubczyk">
  <main>
    <div class="flex flex-col gap-20 sm:gap-36">
      <div
        id="hero"
        style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.jpg'); background-size: cover;"
      >
        <div
          class="flex flex-col h-100 justify-between bg-neutral-900/90 bg-gradient-to-t from-neutral-900 to-transparent to-20%"
          style="min-height: 80vh;"
        >
          <section class="container mx-auto grow flex items-center">
            <div class="p-5 flex flex-col gap-5">
              <div
                class="flex flex-col gap-5 py-10 w-1/2 text-center mx-auto mt-40 mb-20"
              >
                <h1 class="text-6xl text-white">Konrad Kubczyk</h1>
                <p class="text-white/70">
                  Jestem osobą kreatywną, otwartą na wyzwania i zmotywowaną do
                  rozwoju. Zdobyte przeze mnie doświadczenie w tworzeniu stron
                  internetowych i oprogramowania jest dopełniane przez
                  umiejętności artystyczne oraz innowacyjność w rozwiązywaniu
                  problemów.
                </p>
                <div class="flex gap-5 mx-auto">
                  <a
                    href="#wiecej"
                    class="button uppercase font-semibold tracking-wide text-sm bg-neutral-100/70 px-5 py-3 rounded border border-white/25 transition text-dark hover:bg-white/90"
                  >
                    Więcej
                  </a>
                  <a
                    href="/kontakt"
                    class="button uppercase font-semibold tracking-wide text-sm bg-neutral-600/25 px-5 py-3 rounded border border-white/25 transition text-white hover:bg-neutral-600/50"
                  >
                    Kontakt
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section
            id="wiecej"
            class="flex gap-5 container mx-auto flex-wrap p-5 sm:p-0"
          >
            <a
              href="/portfolio#strony-internetowe"
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">
                Strony internetowe
              </h2>
              <p class="text-white/70">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet autem, architecto corporis dignissimos officiis sunt
                veritatis qui doloremque quas repudiandae aspernatur ex
                recusandae.
              </p>
            </a>
            <a
              href="/portfolio#projektowanie-ui-ux"
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">
                Projektowanie UI/UX
              </h2>
              <p class="text-white/70">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aperiam facere porro recusandae nostrum non illo sed quo
                perspiciatis culpa architecto officiis.
              </p>
            </a>
            <a
              href="/portfolio#programowanie"
              class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25"
            >
              <h2 class="text-2xl font-semibold text-neutral-100">
                Programowanie
              </h2>
              <p class="text-white/70">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Numquam odio repellendus recusandae nostrum corporis dignissimos
                odit minima adipisci vitae ab iste quas.
              </p>
            </a>
          </section>
        </div>
      </div>
      <section
        class="container mx-auto flex flex-col xl:flex-row p-5 sm:p-0 items-center xl:gap-20"
      >
        <div>
          <h2
            class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
          >
            Moja aktywność
          </h2>
          <span class="text-4xl font-semibold text-neutral-100">
            Tworzę strony internetowe i aplikacje
          </span>
          <p class="text-white/70 mt-5">
            Projektuję, wdrażam, utrzymuję i rozwijam rozwiązania internetowe.
            Wykorzystuję wiedzę z zakresu programowania, technology webowych,
            projektowania UI/UX, by tworzyć produkty zarówno funkcjonalne jak i
            estetyczne. Bezpieczeństwo, szybkość i przejrzystość to aspekty,
            które stawiam na pierwszym miejscu.
          </p>
        </div>
        <div class="w-full text-right select-none overflow-clip">
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/10 mb-1"
          >
            Web
          </span>
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/20 mb-1"
          >
            Design
          </span>
          <span
            class="text-6xl xl:text-9xl lowercase tracking-wide text-neutral-100/30 mb-1"
          >
            Development
          </span>
        </div>
      </section>
      <section class="container mx-auto sm:p-0 p-5">
        <div
          class="rounded-lg"
          style="background-image: url('/img/backgrounds/resource-database-JGtQ3VJWoEU-unsplash.jpg'); background-size: cover; background-position: bottom;"
        >
          <div class="p-7 md:py-20 md:px-40 rounded-lg bg-neutral-900/50">
            <div
              class="bg-neutral-900 max-w-2xl mx-auto p-10 rounded-md text-center border border-zinc-600/50"
            >
              <h2
                class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
              >
                Moje doświadczenie
              </h2>
              <span class="text-4xl font-semibold text-neutral-100">
                Praca zawodowa
              </span>
              <p class="text-white/70 mt-5">
                Przez ostatnie lata pracowałem tworząc, aktualizując i
                rozwijając strony internetowe wykorzystujące WordPressa, w
                oparciu o wymagania klientów.
              </p>
              <div class="relative mt-5 flex items-center gap-5">
                <div
                  class="absolute w-1/2 h-px bg-gradient-to-r from-transparent to-zinc-600"
                >
                </div>
                <p
                  class="relative px-5 mx-auto text-center text-white/70 whitespace-nowrap bg-neutral-900"
                >
                  2021 - obecnie
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container mx-auto sm:p-0 p-5">
        <div class="flex flex-col xl:flex-row gap-5">
          <div
            class="bg-neutral-800/50 border border-zinc-600/50 rounded-md p-5 xl:w-1/3"
          >
            <h2
              class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
            >
              Moje kompetencje
            </h2>
            <span class="text-4xl font-semibold text-neutral-100">
              Umiejętności
            </span>
            <p class="text-white/70 mt-5">
              Znam popularne języki programowania oraz szeroko wykorzystywane
              oprogramowanie. Szybko się uczę i chętnie poznaję nowe rozwiązania
              usprawniające pracę, a także poszerzające możliwości.
            </p>
          </div>
          <div class="flex gap-5 flex-wrap sm:px-0 justify-between">
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Technologie internetowe
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Node.js</li>
                  <li>Express</li>
                  <li>WordPress</li>
                </ul>
                <ul class="list-inside list-disc text-white/70">
                  <li>Bootstrap</li>
                  <li>Tailwind CSS</li>
                  <li>Svelte</li>
                  <li>Astro</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Języki programowania
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>Python</li>
                  <li>Java</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Języki obce
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>Język angielski (C1)</li>
                  <li>Język francuski (A1)</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Oprogramowanie i narzędzia
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>Visual Studio Code</li>
                  <li>System kontroli wersji Git</li>
                  <li>Microsoft Office</li>
                  <li>LibreOffice</li>
                </ul>
                <ul class="list-inside list-disc text-white/70">
                  <li>Docker</li>
                  <li>Systemy Linux</li>
                  <li>Penpot</li>
                </ul>
              </div>
            </div>
            <div
              class="flex flex-1 grow basis-64 xl:basis-80 flex-col gap-5 p-5 border border-zinc-600/50 rounded-md"
            >
              <h2
                class="text-2xl font-semibold text-neutral-100 sm:whitespace-nowrap"
              >
                Bazy danych
              </h2>
              <div class="flex gap-10">
                <ul class="list-inside list-disc text-white/70">
                  <li>Język SQL</li>
                  <li>Microsoft SQL Server</li>
                  <li>MySQL</li>
                  <li>MongoDB</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container mx-auto px-5 sm:px-0">
        <div
          class="random-string bg-gradient-to-b from-neutral-100/25 to-neutral-900 to-90% bg-clip-text text-transparent select-none font-mono h-64"
          style="overflow-wrap: anywhere;"
          data-length="5000"
          aria-hidden="true"
        >
        </div>
        <script>
          function generateRandomString(length) {
            const characters =
              "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            let result = "";
            for (let i = 0; i < length; i++) {
              const randomIndex = Math.floor(Math.random() * characters.length);
              const randomCharacter = characters.charAt(randomIndex);
              result += characters.charAt(
                Math.floor(Math.random() * characters.length)
              );
            }
            return result;
          }
          function refreshRandomStrings() {
            document.querySelectorAll(".random-string").forEach((element) => {
              element.innerText = generateRandomString(
                parseInt(element.dataset.length)
              );
            });
          }
          refreshRandomStrings();
          document.addEventListener("scroll", refreshRandomStrings);
        </script>
        <div class="flex justify-between items-center">
          <div>
            <h2
              class="text-sm uppercase font-semibold tracking-widest text-neutral-100/50 mb-1"
            >
              Moje portfolio
            </h2>
            <span class="text-4xl font-semibold text-neutral-100">
              Wybrane projekty
            </span>
          </div>
          <div class="flex gap-2">
            <input
              id="project-filter-astro"
              type="checkbox"
              class="hidden peer/project-filter-astro"
            />
            <label
              for="project-filter-astro"
              tabindex="0"
              class="project-filter flex items-center text-center uppercase font-semibold tracking-wide text-sm bg-neutral-800/25 px-3 py-2 rounded-full border border-zinc-600/50 transition text-neutral-100/75 hover:bg-neutral-700/25 peer-checked/project-filter-astro:bg-zinc-100 peer-checked/project-filter-astro:border-zinc-100 peer-checked/project-filter-astro:text-neutral-900 cursor-pointer select-none"
            >
              Astro
            </label>
            <input
              id="project-filter-tailwindcss"
              type="checkbox"
              class="hidden peer/project-filter-tailwindcss"
            />
            <label
              for="project-filter-tailwindcss"
              tabindex="0"
              class="project-filter flex items-center text-center uppercase font-semibold tracking-wide text-sm bg-neutral-800/25 px-3 py-2 rounded-full border border-zinc-600/50 transition text-neutral-100/75 hover:bg-neutral-700/25 peer-checked/project-filter-tailwindcss:bg-zinc-100 peer-checked/project-filter-tailwindcss:border-zinc-100 peer-checked/project-filter-tailwindcss:text-neutral-900 cursor-pointer select-none"
            >
              Tailwind CSS
            </label>
            <input
              id="project-filter-express"
              type="checkbox"
              class="hidden peer/project-filter-express"
            />
            <label
              for="project-filter-express"
              tabindex="0"
              class="project-filter flex items-center text-center uppercase font-semibold tracking-wide text-sm bg-neutral-800/25 px-3 py-2 rounded-full border border-zinc-600/50 transition text-neutral-100/75 hover:bg-neutral-700/25 peer-checked/project-filter-express:bg-zinc-100 peer-checked/project-filter-express:border-zinc-100 peer-checked/project-filter-express:text-neutral-900 cursor-pointer select-none"
            >
              Express
            </label>
            <script>
              const SPACEBAR_KEYCODE = 32;
              function toggleFilter(event) {
                if (event.keyCode !== SPACEBAR_KEYCODE) {
                  return;
                }
                event.target.click();
                event.preventDefault();
              }
              document
                .querySelectorAll(".project-filter")
                .forEach((element) => {
                  element.addEventListener("keydown", toggleFilter);
                });
            </script>
          </div>
        </div>
      </section>
      <div style="height: 100vh;"></div>
    </div>
  </main>
</Layout>
