---
/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

interface Props {
    title: string;
    description: string;
}

const props = Astro.props;
---

<div
        class="flex-1 rounded-lg border border-zinc-600/50 p-5 flex flex-col gap-3 bg-neutral-800/10 backdrop-blur"
>
    <h2 class="text-2xl font-semibold text-neutral-100">
        {props.title}
    </h2>
    <p class="text-white/70">
        {props.description}
    </p>
</div>