---
/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */
---

<footer>
  <div class="container mx-auto px-5 mt-20 2xl:mt-36">
    <div class="border-t border-zinc-600/50"></div>
    <div class="flex gap-5 flex-col-reverse sm:flex-row justify-between py-10 text-sm uppercase text-white/75 tracking-wider">
      <span class="text-center opacity-40 text-xs font-semibold sm:opacity-100 sm:text-sm sm:font-normal">
        &copy; <span id="current-year"></span> Konrad Kubczyk
      </span>
      <div class="flex gap-7 flex-wrap justify-center">
        <a
            href="/licenses"
            class="hover:text-white transition"
        >
          Licenses
        </a>
        <a
            href="https://gitlab.com/konradkubczyk/konradkubczyk.com"
            target="_blank"
            class="hover:text-white transition"
        >
          Source code
        </a>
      </div>
    </div>
  </div>
</footer>

<script is:inline>
document.getElementById("current-year").innerHTML = String(new Date().getFullYear());
</script>
