<header
  class="fixed flex justify-center w-full top-0 z-10 sm:px-0 py-5 bg-gradient-to-b from-neutral-900 from-20% to-transparent select-none"
>
  <div class="container">
    <nav
      id="nav"
      class="mx-5 py-5 px-0 rounded-lg border border-transparent flex justify-between items-center backdrop-blur-none bg-transparent shadow-none transition-all flex-col sm:flex-row gap-5"
    >
      <div class="flex justify-between items-center w-full">
        <a href="/#" class="opacity-80 hover:opacity-100 transition">
          <img src="/img/brand/logo.svg" alt="Logo" class="h-7 mx-1" />
        </a>
        <button id="menu-button" aria-label="Menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
            class="fill-current text-white/75 hover:text-white transition cursor-pointer sm:hidden mx-1"
            ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            ></path></svg
          >
        </button>
      </div>
      <div
        id="menu-container"
        class="hidden sm:block w-full sm:w-min bg-neutral-800/25 sm:bg-transparent p-2 sm:p-0 rounded"
      >
        <menu class="flex gap-2 sm:gap-5 flex-col sm:flex-row">
          <li>
            <a
              href="#experience"
              class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
            >
              Experience
            </a>
          </li>
          <li>
            <a
              href="#skills"
              class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
            >
              Skills
            </a>
          </li>
          <li>
            <a
              href="#portfolio"
              class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
            >
              Portfolio
            </a>
          </li>
          <li>
            <a
              href="#contact"
              class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
            >
              Contact
            </a>
          </li>
        </menu>
      </div>
    </nav>
  </div>
</header>

<script is:inline>
const nav = document.querySelector("#nav");
const menuButton = document.querySelector("#menu-button");
const menuContainer = document.querySelector("#menu-container");
const menuItems = document.querySelectorAll("#nav a");

function updateNav() {
  if (nav) {
    if (window.scrollY > 0 || menuButton.classList.contains("active")) {
      nav.classList.add("px-5");
      nav.classList.remove("px-0");
      nav.classList.add("border-zinc-700/50");
      nav.classList.remove("border-transparent");
      nav.classList.add("bg-neutral-900/80");
      nav.classList.remove("bg-transparent");
      nav.classList.add("backdrop-blur");
      nav.classList.remove("backdrop-blur-none");
      nav.classList.add("shadow");
      nav.classList.remove("shadow-none");
    } else {
      nav.classList.add("px-0");
      nav.classList.remove("px-5");
      nav.classList.add("border-transparent");
      nav.classList.remove("border-zinc-700/50");
      nav.classList.add("bg-transparent");
      nav.classList.remove("bg-neutral-900/80");
      nav.classList.add("backdrop-blur-none");
      nav.classList.remove("backdrop-blur");
      nav.classList.add("shadow-none");
      nav.classList.remove("shadow");
    }
  }
}

window.addEventListener("scroll", updateNav);
updateNav();

function toggleMenu() {
  menuButton.classList.toggle("active");
  menuContainer.classList.toggle("hidden");
  updateNav();
}
menuButton.addEventListener("click", toggleMenu);

menuItems.forEach((item) => {
  item.addEventListener("click", () => {
    if (menuButton.classList.contains("active")) toggleMenu();
  });
});
</script>
