---
interface Props {
    name: string;
    description: string;
    tags: string[];
    link: string;
}

const { name, description, tags, link } = Astro.props;
---

<a
    class="project flex-1 flex rounded-lg border border-zinc-600/50 p-5 flex-col gap-3 cursor-pointer bg-neutral-800/25 transition hover:bg-neutral-700/25 justify-between"
    href={link}
    target="_blank"
>
    <div>
        <h3 class="text-2xl font-semibold text-neutral-100">{name}</h3>
        <p class="text-white/70 mt-3">
            {description}
        </p>
    </div>
    <div
        class="tags flex text-xs text-neutral-100 uppercase gap-2 tracking-wider border-t border-zinc-600/50 pt-5 mt-1 flex-wrap sm:flex-nowrap"
    >
        {
            tags.map((tag) => (
                <span class="border border-white/10 px-2 py-1 rounded">
                    {tag}
                </span>
            ))
        }
    </div>
</a>
