@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'montserrat-regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

@media (prefers-color-scheme: light) {
    :root { 
        --color-palette-primary: #000000;
        --color-palette-secondary: #cecece;
        --color-palette-ternary: #ececec;
        --color-palette-accent: #9c9c9c;
        --color-pallette-background: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root { 
        --color-palette-primary: #ffffff;
        --color-palette-secondary: #303030;
        --color-palette-ternary: #232323;
        --color-palette-accent: #505050;
        --color-pallette-background: #1b1b1b;
    }
}

::selection {
    background: var(--color-palette-accent);
    color: var(--color-pallette-primary);
}

::-moz-selection {
    background: var(--color-palette-accent);
    color: var(--color-pallette-primary);
}

body {
    margin: 0;
    background-color: var(--color-pallette-background);
    color: var(--color-palette-primary);
}

p.info-card__description {
    text-align: justify;
}

div.page {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../images/monowave.svg');
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

footer {
    flex: none;
    padding: 0.5rem;
}

a {
    color: #7f7f7f;
    transition: 300ms;
    text-decoration: none;
}

a:hover {
    color: #222222;
}

footer > a {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 300ms;
}

div.info-card {
    background-color: var(--color-pallette-background);
    max-width: 400px;
    border: solid 3px var(--color-palette-primary);
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
}

div.info-card__header {
    display: flex;
    gap: 20px;
}

svg.info-card__header__logo__image {
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 7px;
    padding: 15px;
    background-color: var(--color-palette-primary);
}

svg.info-card__header__logo__image > g > path {
    fill: var(--color-pallette-background);
}

div.info-card__header__about-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

}

h1.info-card__header__about-column__title {
    margin: 0;
    font-family: 'montserrat-bold';
    font-size: 2rem;
    line-height: 2rem;
}

h2.info-card__header__about-column__subtitle {
    margin: 0;
    font-size: 1rem;
}

div.info-card__social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.info-card__social > div.info-card__social__row {
    display: flex;
    gap: 10px;
}

div.info-card__social > div.info-card__social__row > a {
    text-decoration: none;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

div.info-card__social > div.info-card__social__row > a:first-child {
    flex-grow: 1;
}

div.info-card__social > div.info-card__social__row > a > div {
    color: var(--color-palette-primary);
    border: solid 1px var(--color-palette-secondary);
    border-radius: 7px;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 300ms;
    display: flex;
    align-items: center;
}

div.info-card__social > div.info-card__social__row > a:hover > div {
    background-color: var(--color-palette-ternary);
}

div.info-card__social > div.info-card__social__row > a:active > div {
    background-color: var(--color-palette-secondary);
}

div.info-card__social > div.info-card__social__row > a > div > svg {
    height: 1rem;
    margin-right: 7px;
    margin-bottom: 1px;
}

@media (max-width: 500px) {
    div.info-card__header {
        flex-direction: column;
    }
}

main.licenses {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
}

h2.single-license__header {
    font-family: 'montserrat-bold';
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

div.single-license p.single-license__paragraph {
    margin: 0.5rem auto;
}

a.back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

a.back-link > svg {
    height: 1rem;
    margin-bottom: 2px;
}
