---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Deweloper stron internetowych i aplikacji, chętny do nauki i eksploracji nowych możliwości podczas tworzenia ciekawych projektów."
    />
    <meta name="keywords" content="Kubczyk, Konrad, Konrad Kubczyk" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/brand/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-neutral-900">
    <header
      class="fixed flex justify-center w-full top-0 z-10 sm:px-0 py-5 bg-gradient-to-b from-neutral-900 from-20% to-transparent select-none"
    >
      <div class="container">
        <nav
          id="sticky-nav"
          class="mx-5 py-5 px-0 rounded-lg border border-transparent flex justify-between items-center backdrop-blur-none bg-transparent shadow-none transition-all"
        >
          <a href="/#" class="opacity-80 hover:opacity-100 transition">
            <img src="/img/brand/favicon.svg" alt="Logo" class="h-7 mx-1" />
          </a>
          <div>
            <menu class="flex gap-5">
              <a
                href="#"
                class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider font-semibold hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
              >
                Start
              </a>
              <a
                href="#portfolio"
                class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider font-semibold hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
              >
                Portfolio
              </a>
              <a
                href="#contact"
                class="flex items-center text-sm rounded px-3 py-2 uppercase text-white/75 tracking-wider font-semibold hover:text-white hover:bg-neutral-600/50 hover:active:scale-95 transition"
              >
                Contact
              </a>
            </menu>
          </div>
        </nav>
      </div>
    </header>

    <slot />
  </body>
</html>

<script>
  const stickyNav = document.querySelector("#sticky-nav");

  function updateStickyNav() {
    if (stickyNav) {
      if (window.scrollY > 0) {
        stickyNav.classList.add("px-5");
        stickyNav.classList.remove("px-0");
        stickyNav.classList.add("border-zinc-700/50");
        stickyNav.classList.remove("border-transparent");
        stickyNav.classList.add("bg-neutral-900/80");
        stickyNav.classList.remove("bg-transparent");
        stickyNav.classList.add("backdrop-blur");
        stickyNav.classList.remove("backdrop-blur-none");
        stickyNav.classList.add("shadow");
        stickyNav.classList.remove("shadow-none");
      } else {
        stickyNav.classList.add("px-0");
        stickyNav.classList.remove("px-5");
        stickyNav.classList.add("border-transparent");
        stickyNav.classList.remove("border-zinc-700/50");
        stickyNav.classList.add("bg-transparent");
        stickyNav.classList.remove("bg-neutral-900/80");
        stickyNav.classList.add("backdrop-blur-none");
        stickyNav.classList.remove("backdrop-blur");
        stickyNav.classList.add("shadow-none");
        stickyNav.classList.remove("shadow");
      }
    }
  }

  window.addEventListener("scroll", updateStickyNav);
  updateStickyNav();
</script>

<style is:global>
  :root {
    scroll-padding-top: 7.5rem;
  }
</style>
