---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Deweloper stron internetowych i aplikacji, chętny do nauki i eksploracji nowych możliwości podczas tworzenia ciekawych projektów."
    />
    <meta name="keywords" content="Kubczyk, Konrad, Konrad Kubczyk" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/img/brand/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/css/email-unscrambler.css" />
    <script src="/js/email-unscrambler.js" defer></script>
  </head>

  <body class="bg-neutral-900">
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    scroll-padding-top: 7.5rem;
  }
</style>
